# Ignore environment variable files
.env

**/*.csv
**/*.json
**/data/

**/*.ipynb_checkpoints/

**/*.pth
**/*.png
**/__pycache__/

**/*.pkl

data/raw/
data/processed/
data/synthesis/
data/interim/ 
docs/*.png

